<mat-toolbar class="nav">
    <a mat-icon-button title="home" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/home-page">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    </a>
    <span class="example-spacer"></span>
    
    <span>ALERT MESSENGER</span>
    <span class="example-spacer"></span>
    <a mat-icon-button title="Logout" class="example-icon favorite-icon" (click)="logOut()" aria-label="Example icon-button with heart icon">
      <mat-icon aria-hidden="false" aria-label="Example home icon">logout</mat-icon>
    </a>
  </mat-toolbar>
