.example-spacer {
    flex: 1 1 auto;
  }
.nav{
    background-color: rgb(48, 54, 139);
    color: beige;
}


/* @media screen and (max-width:1920px) {
  .widget-text{
    margin-left: 535px;
    }
}

@media screen and (max-width:960px) {
  .widget-text{
    margin-left: 160px;
    }
} */