<!-- <mat-dialog-container class="deleteCard">
    <h2>Are you sure?</h2>
     <a mat-raised-button color="primary" (click)="">Delete</a> 
     <a mat-raised-button [routerLink]="['/card-widget']">Cancel</a> 
    <button mat-raised-button mat-dialog-close="no">No</button>
    <button mat-raised-button mat-dialog-close="yes">Yes</button>
</mat-dialog-container> -->
<div class="deleteCard">
    <h2 style="padding-left: 10px;">Are you sure you want to delete?</h2>
    <button mat-flat-button color="primary" class="buttonYes" mat-dialog-close="yes">Yes</button>
    <button mat-flat-button class="buttonNo" mat-dialog-close="no">No</button>
  </div>
  