<app-widget-navbar></app-widget-navbar>
<div class="container allMessage">
    <mat-card>
       <mat-card-header>
            <mat-card-title style="justify-content: center;" class="form-elements allMessage">Update Widget Details</mat-card-title>
        </mat-card-header>

        <div>
                <mat-form-field appearance="outline" floatLabel="always" class="form-elements allMessage">
                    <mat-label>Widget Name </mat-label>
                    <input matInput [(ngModel)]="forms.widgetName">
                  </mat-form-field>
        </div>
        <br>
        <div>
                <mat-form-field appearance="outline" class="form-elements allMessage" floatLabel="always">
                    <mat-label>Widget Tag </mat-label>
                    <input matInput [(ngModel)]="forms.widgetTag">
                  </mat-form-field>
        </div>
        <br>
        <div>
            <mat-form-field appearance="outline" class="form-elements allMessage" floatLabel="always">
                <mat-label>Widget Status</mat-label>
                <!-- <input matInput [(ngModel)]="form.widgetStatus"> -->
                <mat-select [(ngModel)]="forms.widgetStatus">
                  <mat-option *ngFor="let option of options"[value]="option.value1">
                    {{option.viewValue1}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <br>
        <div>
            <mat-form-field appearance="outline" class="form-elements allMessage" floatLabel="always">
                <mat-label>Widget Size</mat-label>
                <!-- <input matInput [(ngModel)]="form.widgetSize"> -->
                <mat-select [(ngModel)]="forms.widgetSize">
                  <mat-option *ngFor="let sizes of size"[value]="sizes.value">
                    {{sizes.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>  
        <br>
         <div>
            <mat-form-field appearance="outline" class="form-elements allMessage" floatLabel="always">
                <mat-label>Description</mat-label>
                <textarea matInput [(ngModel)]="forms.description"></textarea>
              </mat-form-field>
         </div> 
         <br>
         <br>
          <div class="form-elements allMessage alignment">
            <div>
            <button mat-raised-button color="primary" 
            class="button-class button-size" type="button" (click)="updateData()">Update</button>
          </div>
          <div>
            <button mat-raised-button class="button-class button-size" type="button" routerLink="/card-widget">Cancel</button>
          </div>
          </div>
          <br>
          <br>
    </mat-card>
    </div>
