.alllogin
{
     padding:130px;
}

.login-box
{
    padding: 50px 150px 50px 150px;
}
.button-class{
    margin-left: 75px;
}

.one
{
    background-color: white;
}
.edit-label{
    width:245px;
}